<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Estoque</title>
        <link rel="stylesheet" type="text/css" href="css/estoque.css"/>
    </head>
    <body>
        <div id="page">
            <header>
                <div id="header">
                    <div id="logo">
                        LOGO
                    </div>
                    <div id="name">
                        Fulano Sobrenome
                    </div>
                        <img id="profile" src="_icons/profile.ico">
                </div>
                <div id="list">
                    <header>
                        <h1 id="title">Lista de estoque</h1>
                        <button class="btn-filter"><img src="icons/filter.svg"></button>
                        <input list="filters" id="select-filter" name="select-filter" value="estoque1">
                        <datalist id="filters">
                            <option value="estoque1"></option>
                            <option value="estoque2"></option>
                        </datalist>
                        <button class="btn-search"><img src="icons/search.svg"></button>
                        <input id="search-text" name="search-text">
                    </header>
                    <div id="table">
                        <table>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                            <tr>
                                <td id="value">Nome: Playstation3</td>
                                <td id="value">Preço: 1700,00</td>
                                <td id="value">Código de barras: 8391847120</td>
                                <td><button class="btn-editar">editar</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>